@using PastryTracker.Models;
  
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Add Vendor</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <h2>New Order</h2>
      <form action="/vendors/@Model.ID" method="post">
        
        <p>
        <label for="name">Vendor: </label>
        <input class="hidden" id="name" name="name" value="@Model.Name">
        @Model.Name </p>


        <p><label>Date: </label>
        <select id="year" name="year">
          @{
          DateTime currentDate = DateTime.Today;
          int thisYear = currentDate.Year;
          int lastYear = currentDate.Year-1;
          int nextYear = currentDate.Year+1;

          <option value="@lastYear">@lastYear</option>
          <option value="@thisYear" selected>@thisYear</option>
          <option value="@nextYear">@nextYear</option>
          }
        </select>

        <select id="month" name="month">
          @for (int i=1; i <= 12; i++)
          {
            string selected = "";
            @if (currentDate.Month == i)
            {
              selected = "selected";
            }
            int month = i;
            <option value="@month" @selected>@month</option>
          }
        </select>

        <select id="day" name="day">
          @for (int i=1; i <= 31; i++)
          {
            string selected = "";
            @if (currentDate.Day == i)
            {
              selected = "selected";
            }
            int day = i;
            <option value="@day" @selected>@day</option>
          }
        </select>
        </p>


        <label for="description">Description: </label>
        <input id="description" name="description" type="text">
        <br>

        <label for="cost">Cost: $</label>
        <input id="cost" name="cost" type="text" value="0.00">
        <br>
        
        <button class="btn btn-success green" type="submit">Add Order</button>
        <a class="btn btn-warning orange" href="/vendors/@Model.ID">Cancel Order</a>
      </form>
  </body>
</html>