@using PastryTracker.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Vendors</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <h2 class="VendorName">@Model.Name</h2>
      <p class="VendorDescription">@Model.Description</p>
        @if (Model.VendorOrders.Count > 0)
        {
          <p>Orders:</p>
          <ul>
            @foreach (Order order in Model.VendorOrders)
            {
              <li id="@order.ID">
                <div class="order-list">
                  <span class="id">#@order.ID</span>
                  <span class="date">@order.Date.ToString("d")</span>
                  @if(order.Fulfilled == false)
                  {
                    <span class="status orange">Not Fulfilled</span>
                  }
                  else
                  {
                    <span class="status green">Fulfilled</span>
                  }
                  <br>
                  <span>$@order.Cost</span>
                  @if(order.PaymentReceived == false)
                  {
                    <span class="payment orange">Awaiting Payment</span>
                  }
                  else
                  {
                    <span class="payment green">Paid</span>
                  }
                </div>
              </li>
            }
          </ul>
        }
      <a class="btn btn-success" href="@Model.ID/orders/new">Add an order</a>        
      <a class="btn btn-success" href="/vendors">Back to Vendors</a>
  </body>
</html>
